@import '_variables';
@import '_fluid-type(Mike)';
@import '_include-media';
@import 'particles/_navbar';
@import 'particles/_hero';
@import 'particles/_service';
@import 'particles/_benefits';
@import 'particles/_service_packages';
@import 'particles/_insta-business';
@import 'particles/_insta-block';
@import 'particles/_clients';
@import 'particles/_letter-us';
@import 'particles/_contacts';
.here {
    border: 1px dashed red;
    &1 {
        border: 1px dashed blue;
    }
}

.bg-f8 {
    background-color: #f8f8f8;
}

html {
    @include interpolate(font-size, 320px, $grid-breakpoint-xl, 13px, 16px);
    position: relative;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    color: $txt-color-primary;
}

body {
    font-family: 'HelveticaNeueCyr', sans-serif;
    padding-top: 67px;
    color: $txt-color-primary;
    font-weight: normal;
}

.custom-rounded {
    border-radius: 22px !important;
    &-left {
        border-top-left-radius: 22px !important;
        border-bottom-left-radius: 22px !important;
    }
    &-right {
        border-top-right-radius: 22px !important;
        border-bottom-right-radius: 22px !important;
    }
}

/* .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
} */

button.btn {
    &.custom-rounded {
        border-radius: 22px;
    }
    &.custom-colored {
        background-image: linear-gradient( 90deg, rgb(230, 13, 68) 0%, rgb(190, 55, 93) 100%);
        color: white;
        /* box-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.3); */
        box-shadow: .5px 1px 1px rgba(0, 0, 0, 0.3);
        &:not(:disabled):not(.disabled):active {
            color: #fff;
            background-color: #bd2130;
            border-color: #b21f2d;
        }
        &--silver {
            color: white;
            background-image: linear-gradient( 60deg, rgb(180, 180, 180) 0%, rgb(204, 204, 204) 100%);
            font-weight: 500;
            font-size: 1.5rem;
            letter-spacing: 2.3px;
            border-radius: 2px;
            cursor: default !important;
            &:active {
                background-image: linear-gradient( 60deg, rgb(180, 180, 180) 0%, rgb(204, 204, 204) 100%) !important;
            }
        }
        &--gold {
            color: white;
            background-image: linear-gradient( 60deg, rgb(221, 160, 16) 1%, rgb(246, 192, 66) 100%);
            font-weight: 500;
            font-size: 1.5rem;
            letter-spacing: 2.3px;
            border-radius: 2px;
            cursor: default !important;
            &:active {
                background-image: linear-gradient( 60deg, rgb(221, 160, 16) 1%, rgb(246, 192, 66) 100%) !important;
            }
        }
        &--bronze {
            color: white;
            background-image: linear-gradient( 45deg, rgb(195, 130, 66) 0%, rgb(239, 161, 84) 100%);
            font-weight: 500;
            font-size: 1.5rem;
            letter-spacing: 2.3px;
            border-radius: 2px;
            cursor: default !important;
            &:active {
                background-image: linear-gradient( 45deg, rgb(195, 130, 66) 0%, rgb(239, 161, 84) 100%) !important;
            }
        }
    }
}

.no- {
    &border {
        border: none;
        &-left {
            border-left: none;
        }
        &-right {
            border-right: none;
        }
    }
    &margin {
        margin: 0;
    }
}

.bg-glass {
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.text-muted {
    color: $txt-color-muted;
}

.badge-danger {
    background-color: $txt-color-primary-red;
}

.badge-info {
    background-color: #128AB2;
}

.badge-warning {
    background-color: #CCC014;
}

.badge-success {
    background-color: #00B219;
}

.text-danger {
    color: $txt-color-highlight
}

.btn-outline-secondary:not([disabled]):not(.disabled).active,
.btn-outline-secondary:not([disabled]):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    box-shadow: 0 0 0 1px rgba(134, 142, 150, .5)
}

a:focus {
    outline: none;
}

/*carousel*/

.carousel- {
    &caption {
        left: 0;
        right: 0;
        color: black;
        bottom: 0;
        padding: 0;
    }
    &item {
        min-height: 200px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        padding: 15px 0;
        @include media('<tablet') {
            min-height: 260px;
        }
    }
    &control-next,
    &control-prev {
        width: 2%;
        color: black;
        opacity: .1;
    }
}

.divider {
    height: 1px;
}

.px-4_5 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.section-header {
    font-size: 2.7rem;
    line-height: 1.45;
    font-weight: 300;
    text-transform: uppercase;
    /* letter-spacing: 8.2px; */
    @include interpolate(letter-spacing, 320px, $grid-breakpoint-xl, 0, 7.8px);
    text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.3);
}

.price-label {
    text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.3);
    span {
        @include media('>tablet') {
            display: block;
        }
    }
    .price-label__text {
        font-weight: 900;
        font-size: 0.9rem;
        text-transform: lowercase;
        line-height: 22px;
        @include media('<tablet') {
            font-size: 22px;
        }
    }
    .price-label__defis {
        padding-left: 12px;
        padding-right: 12px;
        font-weight: 700;
        color: $txt-color-muted;
        line-height: 22px;
        @include media('<tablet') {
            font-size: 22px;
        }
    }
    .price-label__price {
        font: semi-condensed normal 900 22px "Helvetica Neue", sans-serif;
        color: $txt-color-primary-red;
        line-height: 22px;
    }
}

.btn__arrowed--right {
    overflow: visible;
    height: 32px;
    width: 32px;
    padding: 0;
    position: relative;
    border-radius: 50%;
    background-color: #f8f8f8;
    color: $txt-color-primary;
    @include media('<tablet') {
        padding: 0;
        position: static;
    }
    span {
        font-size: 35px;
        line-height: 1;
        position: absolute;
        top: -5px;
        left: -21px;
        @include media('<tablet') {
            font-size: inherit;
            line-height: 32px;
            position: inherit;
            top: inherit;
            left: inherit;
        }
    }
    &:hover {
        color: $txt-color-primary-red;
    }
}

.btn__arrowed--left {
    overflow: visible;
    height: 32px;
    width: 32px;
    padding: 0;
    position: relative;
    border-radius: 50%;
    background-color: #f8f8f8;
    color: $txt-color-primary;
    @include media('<tablet') {
        padding: 0;
        position: static;
    }
    span {
        font-size: 35px;
        line-height: 1;
        position: absolute;
        top: -5px;
        @include media('<tablet') {
            font-size: inherit;
            line-height: 32px;
            position: inherit;
            top: inherit;
            left: inherit;
        }
    }
    &:hover {
        color: $txt-color-primary-red;
    }
}

input,
.form-control {
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

/* .btn-danger:not(:disabled):not(.disabled).active:focus, 
.btn-danger:not(:disabled):not(.disabled):active:focus, 
.show>.btn-danger.dropdown-toggle:focus */

button,
.btn,
.btn-danger,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
input[type="checkbox"] {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

input,
.form-control {
    border-radius: 0;
    color: $txt-color-muted
}

.custom-control-input.is-valid~.custom-control-label::before,
.was-validated .custom-control-input:valid~.custom-control-label::before {
    background-color: #dee2e6;
}

.custom-control-input:checked~.custom-control-label::before,
    {
    background-color: $txt-color-primary-red !important
}

.custom-control-input.is-valid~.custom-control-label,
.was-validated .custom-control-input:valid~.custom-control-la {
    color: $txt-color-muted
}

.social-icon img {
    height: 25px;
}

a:hover {
    text-decoration: none;
}

.floating-buttons {
    position: fixed;
    right: 0;
    top: 75px;
    z-index: 10;
    padding-right: 15px;
}