.benefits {
    .benefits__item-header {
        font-size: 1.2rem;
        font-weight: 400;
    }
    .benefits__item-text {
        font-size: 0.8rem;
        line-height: 1.2;
    }
    .benefits__item-icon {
        max-height: 45px; // max-width: 55px;
    }    
}