.clients {
    &__item {
        min-height: 300px;
    }
    .clients__item-avatar {
        max-height: 6.5rem;
    }
    .clients__item-quotes {
        max-height: 37px;
    }
    .clients__item-avatar {
        border-radius: 50%;
    }
    .carousel-item .row {
        @include media('<tablet') {
            min-height: 540px;
        }
    }
}