.contacts {
    background-color: $bg-footer;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    .contacts__label__text {
        text-transform: uppercase;
        color: $txt-color-highlight-second;
    }
}