    #examples-carousel {
        position: relative;
        .carousel-item__acc-description {
            min-height: 150px;
        }
        .carousel-item__image-description h3 {
            font-weight: 300;
            margin: .2rem;
            letter-spacing: 1px;
            font-size: 2rem;
            @include media('<tablet') {
                font-size: 1rem;
                color: white;
            }
        }
        .carousel-item__image-wrapper img {
            @include media('<'+$grid-breakpoint-md) {
                max-height: 325px;
            }
            @include media('>'+$grid-breakpoint-md, '<='+$grid-breakpoint-lg) {
                max-height: 370px;
            }
            @include media('>'+$grid-breakpoint-lg) {
                max-height: 500px;
            }
        }
        .carousel-item__image-description {
            opacity: 0;
            transition: .5s ease;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: white;
            background-color: rgba($color: #000, $alpha: .6);
            @include media('<tablet') {
                background-color: transparent;
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
            div {
                @include media('<tablet') {
                    background-color: rgba($color: $txt-color-primary-red, $alpha: .95);
                }
            }
        }
        .carousel-item__image-description {}
        .carousel-item {
            @include media('<tablet') {
                min-height: auto;
            }
        }
    }