.list--bronze {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-left: 1em;
        text-indent: -.7em;
        line-height: 1.8;
    }
    li::before {
        content: "• ";
        color: rgb(239, 161, 84);
    }
}

.list--silver {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-left: 1em;
        text-indent: -.7em;
        line-height: 1.8;
    }
    li::before {
        content: "• ";
        color: rgb(204, 204, 204);
    }
}

.list--gold {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-left: 1em;
        text-indent: -.7em;
        line-height: 1.8;
    }
    li::before {
        content: "• ";
        color: rgb(246, 192, 66);
    }
}

.service-packages__item-button {
    text-shadow: .5px 1px 1px rgba(0, 0, 0, 0.3);
    .badge {
        font-size: .8rem;
        letter-spacing: normal;
        background-color: #e60d44;
        @include media('<tablet') {
            display: block;
            margin-top: .3rem;
        }
    }
}